@model IEnumerable<RegistrationCheckList>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>

    </style>
</head>

<h1>Registration Details</h1>

@*@if (Model.Count() > 0)
{
    <div id="button">
        <input type="button" class="btn btn-primary" onClick="Createtable();" value="Create Tabs" />
    </div>
    <br />
    <br />
    
    foreach(RegistrationCheckList item in Model)
    {
       
    }
    <br />
    <br />
    <div style="text-align:center">
        <input type="button" id="savedata" value="Save" class="btn btn-primary" />
    </div>
}
else
{*@
    <div id="button">
        <input type="button" class="btn btn-primary" onClick="Createtable();" value="Create Tabs" />
    </div>
    <br />
    <br />
    <div id="Registration">
    </div>
    <br />
    <br />
    <div style="text-align:center">
        <input type="button" id="savedata" value="Save" class="btn btn-primary" />
    </div>
@*}*@




@section Scripts{
    @*<script type="text/javascript" src="~/js/Validation.js"></script>*@

    <script type="text/javascript">



        var counter = 1;
        Createtable();
        $("#savedata").click(function () {
            //var tablett=document.createElement("table");
            var dataset = '[';
            var box = document.getElementById('Registration');
            var count = box.getElementsByTagName('div').length;
            var RegistrationCheck = new Array();
            for (j = 0; j < count; j++) {
                if (j % 2 != 0) {
                    continue;
                }

                //var cell5 = document.createElement("td");
                HeadLabel = box.children[j / 2].children[0].value;
                //cell5.innerText=HeadLabel;
                var table = box.children[j / 2].children[1];
                var rowLength = table.rows.length;


                for (var i = 1; i < rowLength; i += 1) {
                    // var tblrow = document.createElement("tr");
                    //tblrow.appendChild(cell5);
                    var row = table.rows[i];
                    // var cell1 = document.createElement("td");
                    var field = row.cells[0].children[0].value;
                    //cell1.innerText=field;
                    // var cell2 = document.createElement("td");
                    //var type1 = row.cells[1].children[0].value;
                    var type = row.cells[1].children[0].options[row.cells[1].children[0].selectedIndex].text;
                    var datatype = row.cells[2].children[0].options[row.cells[2].children[0].selectedIndex].text;
                    //cell2.innerText = type;
                    // var cell3 = document.createElement("td");
                    var length = row.cells[3].children[0].value;
                    var fieldvalue = row.cells[4].children[0].value;
                    // cell3.innerText = length;
                    // var cell4 = document.createElement("td");
                    var mandatory1 = row.cells[5].children[0].name;
                    var mandatory = $('input[name=' + mandatory1 + ']:checked').text();
                    var Editable1 = row.cells[6].children[0].name;
                    var Editable = $('input[name=' + Editable1 + ']:checked').text();

                    if (HeadLabel == '' || field == '' || type == '--Select--' || length == '') {
                        alert("All Fields are mandatory");
                        return false;
                    }
                    if (type == 'TextBox' && (datatype == '--Select--' || fieldvalue != "")) {
                        alert("If the Type is Textbox must fill the DataType");
                        return false;
                    }
                    if (type == 'DropDown' && (datatype != '--Select--' || fieldvalue == "")) {
                        alert("If the Type is Dropdown must fill the FieldValue");
                        return false;
                    }

                    //dataset = dataset + '[' + HeadLabel + ',' + field + ',' + type + ',' + datatype + ',' + length + ',' + fieldvalue + ',' + mandatory + ',' + Editable + '],';
                    var obj = {};
                    obj.HeadingTab = HeadLabel; obj.Field = field; obj.ControlType = type; obj.Datatype = datatype; obj.ControlLength = length;
                    obj.FieldValue = fieldvalue; obj.IsMandatory = mandatory; obj.IsEditable = Editable;
                    RegistrationCheck.push(obj);
                }
            }
            // dataset = dataset.substring(0, dataset.length - 1) + '];';
            //alert(dataset);
            $.ajax({
                type: "POST",
                url: "../Registration/InsertRegistrationDetails",
                data: JSON.stringify(RegistrationCheck),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }
                    else {
                        alert(data.message);
                    }
                }
            });
        });

        function dropDown(s1) {
            var dropdown = s1;
            var nextdrop = dropdown.parentNode.nextSibling.children[0];
            var nexttextarea = dropdown.parentNode.nextSibling.nextSibling.nextSibling.children[0];
            var dropvalue = dropdown.value;
            if (dropvalue == '2') {
                nextdrop.selectedIndex = 0;
                nextdrop.disabled = true;
                nexttextarea.disabled = false;
            }
            else if (dropvalue == '1' || dropvalue == '5') {
                nexttextarea.value = "";
                nextdrop.disabled = false;
                nexttextarea.disabled = true;
            }
            else {
                nexttextarea.disaled = false;
                nextdrop.disabled = false;
            }

        }

        function Createtable() {
            //div reference
            var body = document.getElementById("Registration");

            //create div
            var div = document.createElement("div");
            div.style.marginTop = "2%";

            //create table
            var tbl = document.createElement("table");
            tbl.className = "table";

            var thead = document.createElement("thead");

            // table row creation
            var row = document.createElement("tr");

            for (var i = 0; i <= 7; i++) {
                // create element <td> and text node
                //Make text node the contents of <td> element
                // put <td> at end of the table row
                var cell = document.createElement("th");
                cell.align = "center";
                if (i == 0) {
                    var input = document.createElement('label');
                    input.innerText = "Field";
                    //input.className = "form-control";
                }
                else if (i == 1) {
                    var input = document.createElement('label');
                    input.innerText = "Type";
                    // input.className = "form-control";
                }
                else if (i == 2) {
                    var input = document.createElement('label');
                    input.innerText = "DataType";
                    // input.className = "form-control";
                }
                else if (i == 3) {
                    var input = document.createElement('label');
                    input.innerText = "Length";
                    //input.className = "form-control";
                }
                else if (i == 4) {
                    var input = document.createElement('label');
                    input.innerText = "FieldValue";
                    //input.className = "form-control";
                }
                else if (i == 5) {
                    var input = document.createElement('label');
                    input.innerText = "IsMandatory";
                    //input.className = "form-control";
                }
                else if (i == 6) {
                    var input = document.createElement('label');
                    input.innerText = "After Registration";
                    //input.className = "form-control";
                }
                else if (i == 7) {
                    var input = document.createElement('label');
                    input.innerText = "Action";
                    //input.className = "form-control";
                }
                cell.appendChild(input);
                row.appendChild(cell);
            }

            //row added to end of table body
            thead.appendChild(row);

            //////////////

            var tblBody = document.createElement("tbody");

            // cells creation
            for (var j = 0; j < 1; j++) {
                // table row creation
                var row = document.createElement("tr");

                for (var i = 0; i <= 7; i++) {
                    // create element <td> and text node
                    //Make text node the contents of <td> element
                    // put <td> at end of the table row
                    var cell = document.createElement("td");
                    cell.align = "center";
                    if (i == 0) {
                        var input = document.createElement('input');
                        input.type = "text";
                        input.className = "form-control validatetext";
                        input.placeholder = "Enter the Field";
                        input.name = "Field";
                        cell.appendChild(input);
                    }
                    else if (i == 1) {
                        //var counter=1;
                        $('<select class="required form-control" onchange="dropDown(this)" name="ControlType" id="dependentProjectID_' + counter + '_" name="dependentProjectID[' + counter + ']"><option value="">--Select--</option>' +
        @{
            foreach (var item in ViewBag.Dropdown)
            {
                @:'<option value="@item.Value">@item.Text</option>' +
            }
        }
                            '</select>').appendTo(cell);

                    }
                    else if (i == 2) {
                        //var counter=1;
                        $('<select class="required form-control" name="DataType" id="dependentdatatypeID_' + counter + '_" name="dependentdatatypeID[' + counter + ']"><option value="">--Select--</option>' +
        @{
            foreach (var item in ViewBag.Datatype)
            {
                @:'<option value="@item.Value">@item.Text</option>' +
            }
        }
                            '</select>').appendTo(cell);
                        counter++;
                    }
                    else if (i == 3) {
                        var input = document.createElement('input');
                        input.type = "text";
                        input.className = "form-control validatenum";
                        input.placeholder = "Enter the Length";
                        input.name = "ControlLength";
                        cell.appendChild(input);
                    }
                    else if (i == 4) {
                        var input = document.createElement('textarea');
                        //input.type = "text";
                        input.className = "form-control";
                        input.placeholder = "Enter the FieldContent";
                        input.name = "FieldValue";
                        cell.appendChild(input);
                    }
                    else if (i == 5) {
                        //var count = 1;
                        $(
        @{
            foreach (var item in ViewBag.select)
            {
                @:'<input type="radio" name="mantory_' + counter + '_" value="@item.Value" checked="checked"><label for="mantory_' + counter + '_">@item.Text</label ><br/>' +
            }
        }
                            "").appendTo(cell);
                    }
                    else if (i == 6) {
                        //var count = 1;
                        $(
        @{
            foreach (var item in ViewBag.EditableorNot)
            {
                @:'<input type="radio"  name="mantorylabel_' + counter + '_" value="@item.Value" checked="checked"><label for="mantorylabel_' + counter + '_">@item.Text</label ><br/>' +
            }
        }
                            "").appendTo(cell);
                    }
                    else {
                        var input = document.createElement('a');
                        // var icon = document.createElement('i');
                        input.className = "bi bi-plus-circle";
                        //input.appendChild(input);
                        input.setAttribute("onclick", "addrow(this);");
                        cell.appendChild(input);
                    }

                    row.appendChild(cell);
                }

                //row added to end of table body
                tblBody.appendChild(row);
            }
            // append the <tbody> inside the <table>
            tbl.appendChild(thead);
            tbl.appendChild(tblBody);
            tbl.style.marginBottom = "0";
            //textbix creation
            var textbox = document.createElement("input");
            textbox.type = "text";
            textbox.className = "form-control validatetext"
            textbox.style.width = "100%";
            textbox.style.textAlign = "center";
            textbox.placeholder = "Heading of the Tab";
            div.appendChild(textbox);

            div.appendChild(tbl);
            var btn = document.createElement("input");
            btn.value = "Remove";
            btn.type = "button";
            //btn.setAttribute("onclick","Remove()");
            btn.onclick = function () {
                var id = this;
                id.parentElement.parentElement.remove();
            }
            var div1 = document.createElement("div");
            div1.style.textAlign = "right";
            btn.className = "btn btn-danger";
            // btn.style.width = "10%";
            // btn.style.cssFloat = "left";
            div1.appendChild(btn);
            div.appendChild(div1);
            // tbl border attribute to
            tbl.setAttribute("border", "2");
            body.appendChild(div);

            $(".validatetext").keypress(function (e) {
                var regex = new RegExp("^[a-zA-Z ]+$");
                var strigChar = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(strigChar)) { return true; } return false;
            });
            $(".validatenum").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || e.which == 46)) {
                    return false;
                }
            });
        }

        function addrow(button) {

            var parent = button.parentNode.parentNode.parentNode;
            for (var j = 0; j < 1; j++) {
                // table row creation
                var row = document.createElement("tr");

                for (var i = 0; i <= 7; i++) {
                    // create element <td> and text node
                    //Make text node the contents of <td> element
                    // put <td> at end of the table row
                    var cell = document.createElement("td");
                    cell.align = "center";
                    if (i == 0) {
                        var input = document.createElement('input');
                        input.type = "text";
                        input.className = "form-control validatetext";
                        input.placeholder = "Enter the Field";
                        cell.appendChild(input);
                    }
                    else if (i == 1) {

                        $('<select class="required form-control" onchange="dropDown(this)" id="dependentProjectID_' + counter + '_" name="dependentProjectID[' + counter + ']"><option value="">--Select--</option>' +
        @{
            foreach (var item in ViewBag.Dropdown)
            {
                @:'<option value="@item.Value">@item.Text</option>' +
            }
        }
                            '</select>').appendTo(cell);

                    }
                    else if (i == 2) {
                        //var counter=1;
                        $('<select class="required form-control" id="dependentdatatypeID_' + counter + '_" name="dependentdatatypeID[' + counter + ']"><option value="">--Select--</option>' +
        @{
            foreach (var item in ViewBag.Datatype)
            {
                @:'<option value="@item.Value">@item.Text</option>' +
            }
        }
                            '</select>').appendTo(cell);
                        counter++;
                    }
                    else if (i == 3) {
                        var input = document.createElement('input');
                        input.type = "text";
                        input.className = "form-control validatenum";
                        input.placeholder = "Enter the Length";
                        cell.appendChild(input);
                    }
                    else if (i == 4) {
                        var input = document.createElement('textarea');
                        //input.type = "text";
                        input.className = "form-control";
                        input.placeholder = "Enter the FieldContent";
                        cell.appendChild(input);
                    }
                    else if (i == 5) {
                        //var count=2;
                        $(
        @{
            foreach (var item in ViewBag.select)
            {
                @:'<input type="radio" name="mantory_' + counter + '_" value="@item.Value" checked="checked"><label for="mantory_' + counter + '_">@item.Text</label><br/>' +
            }
        }
                            "").appendTo(cell);

                    }
                    else if (i == 6) {
                        //var count = 1;
                        $(
        @{
            foreach (var item in ViewBag.EditableorNot)
            {
                @:'<input type="radio"  name="mantorylabel_' + counter + '_" value="@item.Value" checked="checked"><label for="mantorylabel_' + counter + '_">@item.Text</label ><br/>' +
            }
        }
                            "").appendTo(cell);
                    }
                    else {
                        var input = document.createElement('a');
                        //var icon = document.createElement('i');
                        input.className = "bi bi-plus-circle";
                        //input.appendChild(icon);
                        input.setAttribute("onclick", "addrow(this);");
                        cell.appendChild(input);
                    }

                    row.appendChild(cell);
                }

                //row added to end of table body
                parent.appendChild(row);
            }
            button.className = "bi bi-trash";
            button.setAttribute("onclick", "Remove(this);");

            $(".validatetext").keypress(function (e) {
                var regex = new RegExp("^[a-zA-Z ]+$");
                var strigChar = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(strigChar)) { return true; } return false;
            });
            $(".validatenum").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || e.which == 46)) {
                    return false;
                }
            });
        }
        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = button.parentNode.parentNode;
            var table = row.parentNode.parentNode;
            var name = "hello";
            if (confirm("Do you want to delete this ")) {

                table.deleteRow(row.rowIndex);
            }
        }
                //$(document).ready(function () {
                //    $(".validatetext").keypress(function (e) {
                //        var regex = new RegExp("^[a-zA-Z ]+$");
                //        var strigChar = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                //        if (regex.test(strigChar)) { return true; } return false;
                //    });
                //    $(".validatenum").keypress(function (e) {
                //        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || e.which == 46)) {
                //            return false;
                //        }
                //    });
                //});

    </script>

}